@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optionnel : couleur de fond gris clair pour toute l'app */
body {
  @apply bg-slate-50 text-slate-900;
}

/* Customisation du DatePicker */
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker {
  font-family: inherit !important;
  border-radius: 0.75rem !important;
  border: none !important;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1) !important;
}

.react-datepicker__header {
  background-color: #f8fafc !important;
  border-bottom: 1px solid #e2e8f0 !important;
  border-top-left-radius: 0.75rem !important;
  border-top-right-radius: 0.75rem !important;
}

.react-datepicker__day--selected, .react-datepicker__time-list-item--selected {
  background-color: #4f46e5 !important; /* Indigo-600 */
}

.react-datepicker__time-container {
  border-left: 1px solid #e2e8f0 !important;
}